@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');
* {
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    background: #542e7f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.img-err {
    text-align: center;
    font-size: 27px;
    color: #000;
}

div.header {
    text-align: center;
    background: white;
}