@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.container {
    grid-gap: 10px;
    padding: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 26% 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h h h" "m main main" "m main main" ". main main";
}

div.header {
    grid-area: h;
    margin: auto;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". img i";
    justify-items: center;
    align-items: center;
}

div.header h3 {
    padding: 2%;
    color: #552f80;
    justify-self: center;
    align-self: center;
    margin: 5px;
}

div.header i {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    grid-area: i;
    margin-right: 2px;
    color: #552f80;
}

div.header img {
    grid-area: img;
}

div.menu {
    grid-area: m;
    width: 100%;
    height: auto;
    display: grid;
    padding: 3px;
    background: #552f80;
    border-radius: 5px;
    font-weight: bold;
    justify-items: start;
    align-self: flex-start;
}

div.menu ul {
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    height: auto;
    background: #542e7f;
}

div.menu li {
    margin: 25px 2px;
    list-style: none;
}

button.btn-menu {
    transition: .1s;
    font-size: 12pt;
    border: none;
    background: #542e7f;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    padding: 4px;
}

button.btn-menu:hover {
    font-size: 11.80pt;
    transition: .1s;
    background: #d1c3e04a;
}

button:focus {
    outline: none;
}

span.text-menu {
    margin: 5px;
}


/* 
    Configs das divs de cadastro

*/


/* Padrão */

div.main {
    width: 100%;
    height: 82vh;
    grid-area: main;
}


/* Cadeados */

div.main-cadeados {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    visibility: hidden;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    grid-template-rows: 1fr 1fr 1fr;
}

div.form-cadeados {
    padding: 1px;
}

div.form-cadeados form {
    display: grid;
}

div.form-cadeados h1 {
    color: #542e7f;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

div.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    align-items: center;
}

div.form-group label {
    color: #542e7f;
    font-size: 16pt;
}

div.form-group input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    color: #542e7f;
    font-size: 14pt;
    padding: 10px 6px;
}

div.form-group input:hover {
    transform: scale(.97);
    transition: linear .1s;
}

div.form-group button {
    color: #fff;
    background: #542e7f;
    border: 1px solid #fff;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 13pt;
    text-transform: uppercase;
}

div.form-group button:hover {
    transform: scale(.97);
    transition: linear .1s;
}


/* Armarios */

div.main-armarios {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    visibility: hidden;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    grid-template-rows: 1fr 1fr 1fr;
}

div.form-armarios {
    padding: 1px;
}

div.form-armarios form {
    display: grid;
}

div.form-armarios h1 {
    color: #542e7f;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

div.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    align-items: center;
}

div.form-group label {
    color: #542e7f;
    font-size: 16pt;
}

div.form-group input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    color: #542e7f;
    font-size: 14pt;
    padding: 10px 6px;
    width: 70%;
}

div.form-group input:hover {
    transform: scale(.97);
    transition: linear .1s;
}

div.form-group button {
    color: #fff;
    background: #542e7f;
    border: 1px solid #fff;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 13pt;
    text-transform: uppercase;
}

div.form-group button:hover {
    transform: scale(.97);
    transition: linear .1s;
}


/* Periodo Letivo */

div.main-periodoLetivo {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    visibility: hidden;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    grid-template-rows: 1fr 1fr 1fr;
}

div.form-periodoLetivo {
    padding: 1px;
}

div.form-periodoLetivo form {
    display: grid;
}

div.form-periodoLetivo h1 {
    color: #542e7f;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

div.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    align-items: center;
}

div.form-group label {
    color: #542e7f;
    font-size: 16pt;
}

div.form-group input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    color: #542e7f;
    font-size: 14pt;
    padding: 10px 6px;
    width: 70%;
}

div.form-group input:hover {
    transform: scale(.97);
    transition: linear .1s;
}

div.form-group button {
    color: #fff;
    background: #542e7f;
    border: 1px solid #fff;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 13pt;
    text-transform: uppercase;
}

div.form-group button:hover {
    transform: scale(.97);
    transition: linear .1s;
}


/* Mapa de Armários */

div.main-mapaArmarios {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    visibility: hidden;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    grid-template-rows: 1fr 1fr 1fr;
}

div.form-mapaArmarios {
    padding: 1px;
}

div.form-mapaArmarios form {
    display: grid;
}

div.form-mapaArmarios h1 {
    color: #542e7f;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

div.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    align-items: center;
}

div.form-group label {
    color: #542e7f;
    font-size: 16pt;
}

div.form-group input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    color: #542e7f;
    font-size: 14pt;
    padding: 10px 6px;
    width: 70%;
}

div.form-group input:hover {
    transform: scale(.97);
    transition: linear .1s;
}

div.form-group button {
    color: #fff;
    background: #542e7f;
    border: 1px solid #fff;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 13pt;
    text-transform: uppercase;
}

div.form-group button:hover {
    transform: scale(.97);
    transition: linear .1s;
}