@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');
* {
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.container {
    grid-gap: 10px;
    padding: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h h h" "m map map" "m map map";
}

div.header {
    grid-area: h;
    margin: auto;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". img i";
    justify-items: center;
    align-items: center;
}

div.header h3 {
    padding: 2%;
    color: #552f80;
    justify-self: center;
    align-self: center;
    margin: 5px;
}

div.header i {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    grid-area: i;
    margin-right: 2px;
    color: #552f80;
}

div.header img {
    grid-area: img;
}

div.menu {
    grid-area: m;
    width: 100%;
    height: auto;
    display: grid;
    padding: 3px;
    background: #552f80;
    border-radius: 5px;
    font-weight: bold;
    justify-items: start;
    align-self: flex-start;
}

div.menu ul {
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    height: auto;
    background: #552f80;
}

div.menu li {
    margin: 25px 2px;
    list-style: none;
}

div.menu li a.link-home {
    color: #fff;
    text-decoration: none;
}

span.text-menu {
    margin: 5px;
}

button.btn-menu {
    transition: .1s;
    font-size: 12pt;
    border: none;
    background: #542e7f;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
}

button.btn-menu:hover {
    font-size: 11pt;
    transition: .1s;
}

button:focus {
    outline: none;
}

div.map {
    padding: 5px;
    grid-area: map;
    position: relative;
    box-shadow: 0px 0px 2px 0.1px #552f80;
    border-radius: 5px;
    align-self: flex-start;
    display: none;
    visibility: hidden;
}

div.cod-cabinets h3 {
    color: #552f80;
    text-transform: uppercase;
    text-align: center;
    grid-area: h3;
}

div.cod-cabinets img {
    grid-area: img;
    width: 100%;
}

div.options {
    display: inline-block;
    justify-self: stretch;
    margin-bottom: 15px;
    border-bottom: 1px solid #552f80;
    padding: 2%;
}

div.options button.btn-blocks {
    color: white;
    background: #552f80;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 2%;
    border: none;
    margin: 1%;
    cursor: pointer;
}

div.options h3 {
    color: #552f80;
    text-transform: uppercase;
    margin: 2px auto;
    text-align: center;
}

div.btns button.btn-blocks {
    text-align: center;
}

div.btns button.btn-blocks:hover {
    transform: scale(.95);
    transition: .1s;
}

div.map-cabinets {
    padding: 2%;
    display: grid;
    justify-items: center;
}

div.cod-cabinets {
    padding: 2%;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas: "h3 h3 h3" "img img img";
    text-align: center;
}