@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: url('../images/Bighead.jpg')no-repeat;
    background-size: cover;
}

div.container {
    margin-top: -50px;
    transition: 1s;
    visibility: hidden;
    color: #000;
    background: #fff;
    position: absolute;
    box-shadow: 0 0 0.1rem #fff;
    top: -50%;
    left: 100%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    text-align: center;
}

.form-login {
    position: relative;
    top: 10%;
    margin: auto;
    justify-content: space-evenly;
    display: grid;
}

.form-login input {
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0.1rem #000;
    padding: 5%;
    margin: 10px 0;
    transition: ease-in-out .1s;
}

.form-login input:focus {
    transition: ease-in-out .1s;
    border-bottom: 0.5px solid #a50abb;
    border-left: 0.5px solid #a50abb;
    padding: 6%;
    outline: none;
    transform: scale(0.95);
    outline: 0;
}

.form-login label {
    margin: 0 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.form-login label:hover {
    transform: scale(0.95);
}

h1 {
    color: #a50abb;
    margin-bottom: 50px;
    transition: 0.9s linear;
    transition-delay: 3s;
    opacity: 0;
    font-family: 'Palanquin', sans-serif;
}

.btn {
    text-transform: uppercase;
    font-size: 12pt;
    background: #a50abb;
    padding: 5%;
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn:hover {
    color: #fff;
    transform: scale(0.95);
}

textarea:focus,
input:focus,
select:focus {
    outline: 0;
}

img {
    transition: 0.9s linear;
    transition-delay: 2s;
    opacity: 0;
}

i {
    margin-right: 10px;
    font-size: 20pt;
    color: #8c8c8c;
}